/*-----------------------------------Font---------------------------------*/
.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 600; /* adjust between 400–900 */
  font-style: normal;
}
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/*----------------------------------Header Styles-------------------------------------*/


/*-----------Announcement bar----------------------------------------------------------*/
.announcement-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEDFD2;
    color: #4a3b22;
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    padding: 8px 20px;
    position: relative;
}

#address_area{
    text-align: right;
    margin: 30px;
}
/*-----------------Top Header------------------*/

.top_header{
    position: sticky;
    top: 0;
    z-index: 1000; /* stays above other content */
    height: 80px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #D8C3C0;
    font-family: "Georgia", serif; /* classy serif */
    color: color: #3d3d4f; /*charcoal */

}
#Celestia_Botanica_Title{
    text-align: center;
    font-size: 30px;


}
#city_title{
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 15px;
}

.socials{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 10px;

}

/*----------------------------------Nav Bar----------------------------------------------*/
.nav_bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: 20px;

}
/*----------------------------------Homepage Styles-------------------------------------*/
body {
  font-family: "Playfair Display", serif;
  background-color: #f3e7d3;
}


/*----------------------------------Hero Styles-------------------------------------*/

.hero_parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% bottom;
  display: block;
}
.hero_parent {
  position: relative;
  height: 75vh;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* white overlay at 40% opacity */
}


#hero_text {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-70%);
  color: #FFFAF3;
  text-align: right;
  z-index: 10;         /* sits above the image and overlay */
  font-size: 70px;
  font-family: "Pinyon Script", cursive;

}

#hero_text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}
#homepage_shop_button{
    border-radius: 10px;
    background: #EEDFD2;
    border-color: none;
    height: 50px;
    width: 300px;
    font-size: 16;
    color: #3d3d4f; /*charcoal */
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Playfair Display', sans-serif;

}

/*-----------------------------------Footer Styles------------------------------------*/
.footer{
    background-color: #858FB4;
    height : 50px;
}