
/*----------------------------------Homepage Styles-------------------------------------*/
#Logo_Image{
    height: 200px;
}
.Homepage{
    height: 100vh;
    background-color: beige;

}

/*-----------------------------------Footer Styles------------------------------------*/
.footer{
    background-color: #858FB4;
    height = 50px;
}